@font-face {
	font-family: 'Exo';
	src: url(fonts/Exo.woff) format('woff');
}

@font-face{
	font-family: 'Planetside2';
	src: url(fonts/Planetside2.woff) format('woff');
}

body {
	font-family: 'Exo', Helvetica;
	color: #fff;
	background: #000 url(images/bodyBg4.jpg) center 0 no-repeat;
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
}

h1 {
	font-family: 'Planetside2', Helvetica;
	margin: 30px;
	font-size: 44px;
}

article {
	margin-bottom: 200px;
}

table {
	margin: 0 auto;
	background-color: black;
	border-spacing: 0;
}

tr:nth-child(odd) {
	background: #011618;
}

tr:hover {
	background-color: #040f0f !important;
}

th {
	height: 32px;
	background: #065a61;
	border-color: #09484d;
}

td, th {
	min-width: 100px;
	padding: 5px;
	cursor: default;
	text-align: center;
}

th:last-child,
td:last-child {
	width: 230px;
}

td {
	height: 48px;
	border-color: #092021;
}

td:first-child {
	color: #7ff4ff;
}

td.state {
	color: #888;
}

tr.active td.state {
	color: #f00;
}

.details div:hover {
	position: relative;
}

.details div[data-title]:hover:after {
	content: attr(data-title);
	font-size: 13px;
	padding: 4px 6px;
	position: absolute;
	right: 50%;
	bottom: 120%;
	z-index: 999;
	background: rgba(0, 50, 55, 0.97);
	border: 1px solid rgba(0, 234, 255, 0.1);
	transform: translateX(50%);
	-moz-transform: translateX(50%);
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
}

.details div:last-child {
	margin-right: 0;
}

.details div {
	display: inline-block;
	height: 25px;
}

.territory div {
	margin-right: 3px;
}

.territory .vs {
	background: #5f28b1;
	border: 1px solid #cdadff;
}

.territory .nc {
	background: #20469c;
	border: 1px solid #83a9ff;
}

.territory .tr {
	background: #8f1f1f;
	border: 1px solid #f99;
}

.github {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
}

footer {
	background: url(images/footerBg.png) center top no-repeat;
	min-height: 185px;
	width: 100%;
}
